



ul {
  list-style: none;
  justify-content: space-evenly;
}

.App {
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.flex {
  display: flex;
}

.total {
  justify-content: space-between;
}


.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}